@media (min-width: 501px){
	.bloco-others{
		margin-top: 96px;
	}
	.titulo-paginas{
		font-family: poppins,sans-serif;
		font-weight: 500;
		font-style: bold;
		color: #4C4646;
		display: flex;
		flex: start;
	}
	.back-to-home{
		text-align: end;
		margin-top: 20px;
	}
	.back-to-home-icon{
		color: #9A171C;
	}
	.back-to-home-texto{
		font-family: poppins,sans-serif;
		font-weight: 500;
		font-style: normal;
		font-size: 12px;
		color: #aeaeae;
	}
	.back-to-home-texto:hover{
		color: #00365f;
		text-decoration-line: underline;
	}
 }

 @media (max-width: 500px){
	.bloco-others{
		margin-top: 50px;
	}
	.titulo-paginas{
		font-family: poppins,sans-serif;
		font-weight: 600;
		font-style: bold;
		color: #4C4646;
		
	}
	.back-to-home{
		margin-top: 0px;
	}
	.back-to-home-icon{
		color: #9A171C;
	}
	.back-to-home-texto{
		font-family: poppins,sans-serif;
		font-weight: 500;
		font-style: normal;
		font-size: 12px;
		color: #aeaeae;
	}
	.back-to-home-texto:hover{
		color: #00365f;
		text-decoration-line: underline;
	}
 }
 /* ----------------------------------Página 'Quem somos'---------------------------------- */


  /* ----------------------------------Página 'Nossas Unidades'---------------------------------- */

.bloco-unidade-2{
	margin-top: 70px;
}

